@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* body{
  background-color: black;
  color: white;
} */

.active{
  color: rgb(15, 228, 15);
}

.footer{
  z-index: 99;
  color: white;
}